.filter-bar-first-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr) auto auto auto auto;
  grid-column-gap: 10px;
}

.filter-bar-second-row {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 0.6fr) repeat(2, 0.5fr);
  grid-column-gap: 10px;
}

.filter-bar-third-row {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(1, 0.8fr) repeat(1, 0.5fr) repeat(3, 100px) repeat(1, 0.5fr);
  grid-column-gap: 10px;
}

.filter-bar-buttons-row {
  margin-top: 25px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  .buttons {
    justify-content: end;
    display: flex;
    grid-row: 1;
    grid-column: 3;
    gap: 10px;

    .search-button {
      background-color: #006fb7;
      color: white;
      width: 120px;
    }
  
    .clear-button {
      background-color: #5f6468;
      color: white;
      width: 120px;
    }

    .download-button {
      background-color: #b0d8f8;
      color: black;
      width: 120px;
    }
  
    .create-button {
      background-color: #38a169;
      color: white;
      width: 120px;
    }
  }

  
}

.chakra-modal__content.order-table-modal.css-pv22qu {
  max-width: 80%;
}

.results-table {
  margin-top: 30px;

  .table-row {
    text-align: center;

    .button-td {
      cursor: pointer;
    }

    svg {
      margin-left: 7px;
      cursor: pointer;
    }
  }
}
