.note-box {
  font-size: 0.85em;

  .admin-note-box {
    background: #fdffe3;
  }

  .system-note-box {
    background:#f8f8f8;
  }

  .user-note-box {
    background: #f0f8ff;
  }

  .box-content {
    padding: 5px;
  }
}
