.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-logo {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;

  img {
    height: 110px;
  }

  .logo-name {
    font-family: "Batangas";
    text-transform: uppercase;
    font-size: 70px;
    margin-left: 6px;
    color: #338dbf;
  }
}

.login-form {
  width: 400px;

  .button {
    background-color: #338dbf;
    color: white;


  }
}
