.image-text {
  margin: 0 auto;
  max-width: 1020px;

  &--image {
    width: 580px;
  }

  &--content {
    font-family: "Geologica";
    
    &__big {
      font-weight: 500;
      font-size: 24px;
    }

    &__small {
      font-size: 18px;
      font-weight: 200;
      max-width: 500px;

      &.right {
        max-width: 433px;
      }
    }
  }

  &--bottom-list {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }

  &--top-list {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
